@mixin color-transition {
  transition: color 300ms linear;
}
.theme-deep-purple {
  background-color: #E1E2E1;

  .p {
    background-color: #b388ff;
  }
  .p-l {
    background-color: #e7b9ff;
  }
  .p-d {
    background-color: #805acb;
  }
  .p-text {
    @include color-transition;
    color: #000000;
  }

  .s {
    background-color: #000000;
  }
  .s-l {
    background-color: #2c2c2c;
  }
  .s-d {
    background-color: #000000;
  }
  .s-text {
    @include color-transition;
    color: #ffffff;
  }
}