@mixin color-transition {
  transition: color 300ms linear;
}
$background: #E1E2E1;

$primary: #b388ff;
$primary_light: #e7b9ff;
$priamry_dark: #805acb;
$primary_text: #000000;

$secondary: #000000;
$secondary_light: #2c2c2c;
$secondary_dark: #000000;
$secondary_text: #ffffff;
.theme-deep-purple {
  @import "~vue-material/dist/theme/engine";
  @include md-register-theme("default", (
    theme: light
  ));
  @import "~vue-material/dist/theme/all";
  * {
    @include color-transition;
    color: black;
  }
  p {
    @include color-transition;
    color: $primary_text;
  }
  .md-button:not(.md-icon-button):not(a){
    background-color: $primary !important;
  }

  background-color: $background;
  @mixin bg {
    background-color: $background;
  }
  .p {
    background-color: $primary;
  }
  .p-l-text {
    color: $primary_light;
  }
  .p-h:hover {
    background-color: $primary_light;
  }
  .p-h-active {
    background-color: $background;
  }
  .p-d {
    background-color: $priamry_dark;
  }
  .p-d-columns {
    &:nth-child(odd) {
      background-color: $priamry_dark;
    }
  }

  .s {
    background-color: $secondary;
  }
  .s-l {
    background-color: $secondary_light;
  }
  .s-d {
    background-color: $secondary_dark;
  }
  .s-text {
    @include color-transition;
    color: $secondary_text;
  }
}