.theme-default {
  background-color: #000000;
  * {
    color: rgba($color: #ffffff, $alpha: 0.8);
    transition: color 300ms linear;
  }

  .p {
    background-color: #5b5555;
  }
  .p-l {
    background-color: #7e7575;
  }
  .p-d {
    background-color: #423e3e;
  }
  .p-text {
    color: #ffffff;
  }

  .s {
    background-color: #dd2c00;
  }
  .s-l {
    background-color: #ff6434;
  }
  .s-d {
    background-color: #a30000;
  }
  .s-text {
    color: #ffffff
  }
}
