.theme-default {
  background-color: #000000;
  * {
    color: #ffffff;
  }

  .p {
    background-color: #757575;
  }
  .p-l {
    background-color: #a4a4a4;
  }
  .p-d {
    background-color: #494949;
  }
  .p-text {
    color: #ffffff;
  }

  .s {
    background-color: #dd2c00;
  }
  .s-l {
    background-color: #ff6434;
  }
  .s-d {
    background-color: #a30000;
  }
  .s-text {
    color: #ffffff
  }
}
