@import "./theme/default.scss";
@import "./theme/deep-purple.scss";

body[class*="theme"] {
  transition: color 500ms linear;
  transition-property: background-color, color;
};
.container-fluid {
  margin: 0;
  padding: 0;
}